In [1]:
import pandas as pd

In [2]:
new_data = pd.read_csv ("crimes_boston.csv")
print(new_data)

       INCIDENT_NUMBER  OFFENSE_CODE    OFFENSE_CODE_GROUP  \
0           I182070945           619               Larceny
1           I182070943          1402             Vandalism
2           I182070941          3410                 Towed
3           I182070940          3114  Investigate Property
4           I182070938          3114  Investigate Property
...                ...           ...                   ...
319068   I050310906-00          3125       Warrant Arrests
319069   I030217815-08           111              Homicide
319070   I030217815-08          3125       Warrant Arrests
319071   I010370257-00          3125       Warrant Arrests
319072       142052550          3125       Warrant Arrests

                        OFFENSE_DESCRIPTION DISTRICT  REPORTING_AREA SHOOTING  \
0                        LARCENY ALL OTHERS      D14           808.0        N
1                                 VANDALISM      C11           347.0        N
2                       TOWED MOTOR VEHICLE       D4           151.0        N
3                      INVESTIGATE PROPERTY       D4           272.0        N
4                      INVESTIGATE PROPERTY       B3           421.0        N
...                                     ...      ...             ...      ...
319068                       WARRANT ARREST       D4           285.0        N
319069  MURDER, NON-NEGLIGIENT MANSLAUGHTER      E18           520.0        N
319070                       WARRANT ARREST      E18           520.0        N
319071                       WARRANT ARREST      E13           569.0        N
319072                       WARRANT ARREST       D4           903.0        N

        OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  HOUR    UCR_PART  \
0       02-09-2018 13:00  2018      9      Sunday    13    Part One
1       21-08-2018 00:00  2018      8     Tuesday     0    Part Two
2       03-09-2018 19:27  2018      9      Monday    19  Part Three
3       03-09-2018 21:16  2018      9      Monday    21  Part Three
4       03-09-2018 21:05  2018      9      Monday    21  Part Three
...                  ...   ...    ...         ...   ...         ...
319068  05-06-2016 17:25  2016      6      Sunday    17  Part Three
319069  09-07-2015 13:38  2015      7    Thursday    13    Part One
319070  09-07-2015 13:38  2015      7    Thursday    13  Part Three
319071  31-05-2016 19:35  2016      5     Tuesday    19  Part Three
319072  22-06-2015 00:12  2015      6      Monday     0  Part Three

                   STREET        Lat       Long                     Location
0              LINCOLN ST  42.357791 -71.139371  (42.35779134, -71.13937053)
1                HECLA ST  42.306821 -71.060300  (42.30682138, -71.06030035)
2             CAZENOVE ST  42.346589 -71.072429  (42.34658879, -71.07242943)
3              NEWCOMB ST  42.334182 -71.078664  (42.33418175, -71.07866441)
4                DELHI ST  42.275365 -71.090361  (42.27536542, -71.09036101)
...                   ...        ...        ...                          ...
319068        COVENTRY ST  42.336951 -71.085748  (42.33695098, -71.08574813)
319069           RIVER ST  42.255926 -71.123172  (42.25592648, -71.12317207)
319070           RIVER ST  42.255926 -71.123172  (42.25592648, -71.12317207)
319071  NEW WASHINGTON ST  42.302333 -71.111565  (42.30233307, -71.11156487)
319072      WASHINGTON ST  42.333839 -71.080290  (42.33383935, -71.08029038)

[319073 rows x 17 columns]

In [6]:
new_data.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808.0,N,02-09-2018 13:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347.0,N,21-08-2018 00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151.0,N,03-09-2018 19:27,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272.0,N,03-09-2018 21:16,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421.0,N,03-09-2018 21:05,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"

In [11]:
new_data

In [12]:
new_data = pd.read_csv ("crimes_boston.csv")

In [13]:
new_data

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808.0,N,02-09-2018 13:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347.0,N,21-08-2018 00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151.0,N,03-09-2018 19:27,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272.0,N,03-09-2018 21:16,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421.0,N,03-09-2018 21:05,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285.0,N,05-06-2016 17:25,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
319069,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520.0,N,09-07-2015 13:38,2015,7,Thursday,13,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319070,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520.0,N,09-07-2015 13:38,2015,7,Thursday,13,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319071,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569.0,N,31-05-2016 19:35,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"
319072,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903.0,N,22-06-2015 00:12,2015,6,Monday,0,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)"

In [14]:
new_data1 = new_data.rename(columns={'INCIDENT_NUMBER':'Incident Number In Records','OFFENSE_CODE':'Code Of Offense','OFFENSE_CODE_GROUP':'Group Of Offense','OFFENSE_DESCRIPTION':'Description Of Offense','REPORTING_AREA':'Area Of Reporting Code','OCCURRED_ON_DATE':'Date Of Occurrance','DAY_OF_WEEK':'Day Of Occurance','UCR_PART':'Part Of Uniform Crime Reports','STREET':'Crime Occured Street','Lat':'Latitude ','Long':'Longitude'})

In [15]:
new_data1

,Incident Number In Records,Code Of Offense,Group Of Offense,Description Of Offense,DISTRICT,Area Of Reporting Code,SHOOTING,Date Of Occurrance,YEAR,MONTH,Day Of Occurance,HOUR,Part Of Uniform Crime Reports,Crime Occured Street,Latitude,Longitude,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808.0,N,02-09-2018 13:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347.0,N,21-08-2018 00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151.0,N,03-09-2018 19:27,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272.0,N,03-09-2018 21:16,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421.0,N,03-09-2018 21:05,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319068,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285.0,N,05-06-2016 17:25,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"
319069,I030217815-08,111,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",E18,520.0,N,09-07-2015 13:38,2015,7,Thursday,13,Part One,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319070,I030217815-08,3125,Warrant Arrests,WARRANT ARREST,E18,520.0,N,09-07-2015 13:38,2015,7,Thursday,13,Part Three,RIVER ST,42.255926,-71.123172,"(42.25592648, -71.12317207)"
319071,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569.0,N,31-05-2016 19:35,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"
319072,142052550,3125,Warrant Arrests,WARRANT ARREST,D4,903.0,N,22-06-2015 00:12,2015,6,Monday,0,Part Three,WASHINGTON ST,42.333839,-71.080290,"(42.33383935, -71.08029038)"

In [16]:
new_data1.to_csv('crimes_in_boston.csv')